server {
    listen 80;
    server_name _;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name _;

    ssl_certificate     /etc/nginx/ssl/lab2.crt;
    ssl_certificate_key /etc/nginx/ssl/lab2.key;


    location = /favicon.ico { access_log off; log_not_found off; }

    location ~ ^/(admin|api)/?(.*)$ {
        proxy_pass http://backend-service:8000;
        proxy_set_header Host $host;
    }

    location /static {
        alias /static;
    }
}
